<form>
    <div class="input-wrapper">
        <label for="a">Label A</label>
        <input type="text" name="a" id="a">
    </div>
    <div class="input-wrapper">
        <label for="b">Label B</label>
        <input type="number" name="b" id="b">
    </div>
    <div class="input-wrapper" style="flex-direction: row; align-items: center;">
        <input type="checkbox" name="c" id="c">    
        <input type="radio" name="d" id="d">   
        <input type="color" name="e" id="e"> 
    </div>       
    <div class="output"></div>
</form>